# Unreal Engine GitIgnore
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Architecture/
Android_ASTC/
Mac/

# IDEs
.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Mac specific
.DS_Store
*.app

# Logs
*.log

# Python
__pycache__/
*.pyc

# Project Specific
AWSLoginSystem/
Metaverse/
