# Unreal Engine 5 .gitignore
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# VS/IDE files
.vscode/
.idea/
.vs/
*.sln
*.suo
*.xcworkspace
*.pdb
*.obj
*.o
*.lib
*.dll
*.exe
*.vcxproj*
*.opensdf
*.sdf

# Scripts
*.sh
*.bat

# OS files
.DS_Store
